In [5]:
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from pprint import pprint

import sklearn.datasets
import sklearn.metrics

import autosklearn.classification

In [46]:
churn_df = pd.read_csv("data/churn_data.csv")
churn_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [47]:
churn_df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [22]:
df.dropna()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0,DSL,0,...,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,No
1,5575-GNVDE,1,0,0,0,34,1,0,DSL,1,...,1,0,0,0,One year,0,Mailed check,56.95,1889.5,No
2,3668-QPYBK,1,0,0,0,2,1,0,DSL,1,...,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,1,0,0,0,45,0,0,DSL,1,...,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,0,0,0,0,2,1,0,Fiber optic,0,...,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,24,1,1,DSL,1,...,1,1,1,1,One year,1,Mailed check,84.80,1990.5,No
7039,2234-XADUH,0,0,1,1,72,1,1,Fiber optic,0,...,1,0,1,1,One year,1,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,0,0,1,1,11,0,0,DSL,1,...,0,0,0,0,Month-to-month,1,Electronic check,29.60,346.45,No
7041,8361-LTMKD,1,1,1,0,4,1,1,Fiber optic,0,...,0,0,0,0,Month-to-month,1,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,1,0,0,0,66,1,0,Fiber optic,1,...,1,1,1,1,Two year,1,Bank transfer (automatic),105.65,6844.5,No

In [39]:
df = churn_df

df['gender'] = df['gender'].apply(lambda x : 0 if x == "Female" else 1 )
df['Partner'] = df['Partner'].apply(lambda x : 0 if x == "No" else 1 )
df['Dependents'] = df['Dependents'].apply(lambda x : 0 if x == "No" else 1 )
df['PhoneService'] = df['PhoneService'].apply(lambda x : 0 if x == "No" else 1 )

df['MultipleLines'] = df['MultipleLines'].apply(lambda x : 1 if x == "Yes" else 0 )
df['InternetService'] = df['InternetService'].apply(lambda x : 1 if x == "DSL" else 0 )
df['OnlineSecurity'] = df['OnlineSecurity'].apply(lambda x : 1 if x == "Yes" else 0 )
df['OnlineBackup'] = df['OnlineBackup'].apply(lambda x : 1 if x == "Yes" else 0 )
df['DeviceProtection'] = df['DeviceProtection'].apply(lambda x : 1 if x == "Yes" else 0 )

df['TechSupport'] = df['TechSupport'].apply(lambda x : 1 if x == "Yes" else 0 )
df['StreamingTV'] = df['StreamingTV'].apply(lambda x : 1 if x == "Yes" else 0 )
df['StreamingMovies'] = df['StreamingMovies'].apply(lambda x : 1 if x == "Yes" else 0 )
df['PaperlessBilling'] = df['PaperlessBilling'].apply(lambda x : 1 if x == "Yes" else 0 )

df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0,1,0,...,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,No
1,5575-GNVDE,1,0,0,0,34,1,0,1,1,...,1,0,0,0,One year,0,Mailed check,56.95,1889.5,No
2,3668-QPYBK,1,0,0,0,2,1,0,1,1,...,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,1,0,0,0,45,0,0,1,1,...,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,0,0,0,0,2,1,0,0,0,...,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,24,1,1,1,1,...,1,1,1,1,One year,1,Mailed check,84.80,1990.5,No
7039,2234-XADUH,0,0,1,1,72,1,1,0,0,...,1,0,1,1,One year,1,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,0,0,1,1,11,0,0,1,1,...,0,0,0,0,Month-to-month,1,Electronic check,29.60,346.45,No
7041,8361-LTMKD,1,1,1,0,4,1,1,0,0,...,0,0,0,0,Month-to-month,1,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,1,0,0,0,66,1,0,0,1,...,1,1,1,1,Two year,1,Bank transfer (automatic),105.65,6844.5,No

In [40]:
df["TotalCharges"].replace(' ', np.nan, inplace=True)

In [28]:
df["TotalCharges"].value_counts()

20.2      11
19.75      9
20.05      8
19.9       8
19.65      8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6530, dtype: int64

In [41]:
X = churn_df.iloc[: , 1:-1]
y = churn_df.iloc[: , -1]

X_train, X_test, y_train, y_test = \
    sklearn.model_selection.train_test_split(X, y, random_state=1)

In [42]:
## Unable to handle null values

X["TotalCharges"].value_counts()[0:10]

20.2     11
19.75     9
20.05     8
19.9      8
19.65     8
19.55     7
45.3      7
19.45     6
20.25     6
20.15     6
Name: TotalCharges, dtype: int64

In [43]:
churn_df["TotalCharges"] = churn_df["TotalCharges"].astype(float)

In [45]:
automl = autosklearn.classification.AutoSklearnClassifier(
    time_left_for_this_task=120,
    per_run_time_limit=20,
 #   tmp_folder='/tmp/autosklearn_classification_example_tmp',
)
automl.fit(X_train, y_train, dataset_name='churn')

ValueError: Input Column Contract has invalid type object. Cast it to a valid dtype before using it in Auto-Sklearn. Valid types are numerical, categorical or boolean. You can cast it to a valid dtype using pandas.Series.astype .If working with string objects, the following tutorial illustrates how to work with text data: https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html

In [44]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int64
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int64
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   MultipleLines     7043 non-null   int64
 7   InternetService   7043 non-null   int64
 8   OnlineSecurity    7043 non-null   int64
 9   OnlineBackup      7043 non-null   int64
 10  DeviceProtection  7043 non-null   int64
 11  TechSupport       7043 non-null   int64
 12  StreamingTV       7043 non-null   int64
 13  StreamingMovies   7043 non-null   int64
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   int64
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   object
dtypes: float64(1), int64(15), object(3)
memory usage: 1.0+ MB